.simpleBtn,
.connectBtn {
    min-height: 48px;
    width: 96px;
    border-radius: 30px;
    background-color: cadetblue;
    font-size: 18px;
    margin: 18px;
    border: none;
    box-sizing: border-box;
}

@media (pointer: coarse) {
    button {
        min-height: 48px;
    }
}

.simpleBtn:hover,
.connectBtn:hover {
    transform: rotate(360deg);
    background-color: lightblue;
}

.connectBtn {
    min-height: 48px;
    border-radius: 0 12px 12px 0;
    width: 72px;
    margin-left: 0;
}

.gridBtn {
    height: 48px;
    width: 72px;
    color: honeydew;
    border: solid 1px black;
    margin: 3px;
    padding: 20px;
    font-size: medium;
}

.gridBtn:hover {
    color: whitesmoke;
}

.iconBtn {
    background-color: transparent;
    border: none;
    font-size: 72px;
    color: sandybrown;
    margin: 0 12px;
    text-align: center;
}

.iconBtn:hover {
    color: whitesmoke;
}