.App {
  text-align: center;
}

.App-logo {
  size: 100px;
  height: 100px;
  pointer-events: none;
}

.Bundled-up-logo {
  max-height: 150px;
}

.weather-icons {
  color: var(--sharp-contrast-color-2);
}

.input-and-button {
  vertical-align: middle;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--body-background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--neutral-color-xlight);
}

h1 {
  font-size: var(--font-size-h1);
  color: var(--sharp-contrast-color-1);
  margin-top: 0;
  margin-bottom: 48px;
}

.App-link {
  color: var(--link-color);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link-list {
  flex-direction: unset;
  margin: 24px 0;
}

.flex-row {
  flex-direction: unset;
}

.hidden {
  display: none;
}

.icon-buttons {
  margin: 20px 20px;

}

.temperature-setting {
  margin-bottom: 32px;
  color: var(--sharp-contrast-color-2);
}